<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center title">
      Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center welcome-content ion-padding-top">
  <p class="my-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error enim optio accusamus
    consectetur ratione
    ipsum vero fugiat, eaque obcaecati, a excepturi saepe, soluta pariatur maxime quos ad beatae porro?</p>

  <ion-button routerLink="/home">Ingresar</ion-button>

</ion-content>