
ion-toolbar{
  --background: #ef5350;
}
button .item-native{
  width:100%;
}
ion-avatar{
  img{
    width:300px;
  }
}
.item-button{
  border:none;
  // transition: transform .1s; 
}
// .item-button:hover{
//   transform: scale(1.5);
// }
.title{
  color: #fff;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
  font-weight: bold;
}
